/* Item Lists */

#status.tab-pane.full {
    width: 100%;
    max-width: 85%;
    margin-top: -40px;
}

.item-list {
    float: left;
    padding: 0px;
    list-style: none;
    margin: 0px;
}

.item-list li a {
    display: block;
    width: 300px;
    padding: 5px 10px;
    border-radius: 2px;
    color: #64fa85;
    padding-left: 25px;
}

.item-list li a:hover {
    text-decoration: none;
    background: #64fa85;
    color: #272b23;
}

.item-list a.active::before {
    content: "";
    display: block;
    position: absolute;
    height: 10px;
    width: 10px;
    background: #64fa85;
    left: 7.8vw;
    margin-top: 6px;
}

.item-list a.active:hover::before {
    content: "";
    display: block;
    position: absolute;
    height: 10px;
    width: 10px;
    background: #272b23;
    left: 7.8vw;
    margin-top: 6px;
}

/* Item Stats */
.tab-pane.full {
    height: calc(100vh -180px);
}

.item-stats {
    position: absolute;
    right: 50px;
    bottom: 100px;
    width: 200px;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.item-stats .row .col-12 {
    background: rgba(99, 250, 133, .1);
    margin-bottom: 2px;
}