@font-face {
    font-family: Pipboy;
    src: url('../fonts/monofonto.otf');
}

/* Body of website */
body {
    font-family: Pipboy, sans-serif;
    color: #64fa85;
    background: #272b23;
}

body::after {
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background: repeating-linear-gradient(0deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .4) 1px, transparent 2px, transparent 1px);
    opacity: .3;
    z-index: 10000;
    pointer-events: none;
}

/* Navigations for the page */
.navbar {
    border-bottom: 2px solid;
    margin: 0px 10px;
}

.navbar::before,
.navbar::after {
    height: 5px;
    width: 2px;
    content: "";
    position: absolute;
    display: block;
    background: #64fa85;
    bottom: -6px;
}

.navbar::before {
    left: 0px;
}

.navbar::after {
    right: 0px;
}

ul>li.nav-item>a.nav-link {
    color: #64fa85 !important;
    font-size: 25px;
    line-height: 22px;
    padding-bottom: 6px;
    margin: 0;
}


.navbar-nav {
    width: 100%;
    margin: -10px 200px;
}

.navbar-light ul.navbar-nav>li {
    display: block;
    position: relative;
    width: 100%;

}

.nav-link {
    text-transform: uppercase;
}

/* Navbar effect as selected */
.nav-item.active::before {
    content: "";
    position: absolute;
    background: #272b23;
    width: calc(100% - 5px);
    height: 20px;
    top: 16px;
    left: 3px;
    border-left: 2px solid;
    border-right: 2px solid;
    border-top: 2px solid;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    position: relative;
    display: inline-block;
    background: #272b23;
}

/* Navigation Tabs */
.nav-tabs {
    margin: 10px;
    border-bottom: none;
}

.nav-tabs .nav-link {
    border: none;
}

.nav-tabs>li.nav-item>a.nav-link {
    font-size: 25px;
}

.nav.nav-tabs>li:nth-child(1) {
    opacity: .7;
}

.nav.nav-tabs>li:nth-child(2) {
    opacity: .6;
}

.nav.nav-tabs>li:nth-child(3) {
    opacity: .5;
}


/* Vault Boy Image */
.center-image img {
    margin: auto;
    display: block;
    position: relative;
    max-height: 300px;
    margin-top: 100px;
    filter: grayscale(1) sepia(100%) hue-rotate(55deg) saturate(10) brightness(1) contrast(.9);
}

/* Pip-Boy Footer */
.pipboy-footer {
    position: fixed;
    bottom: 0;
    width: calc(100% - 20px);
    margin: 10px;
}